.Navigation button {
  margin-left: 10px;
}
.navbar-dark .navbar-nav .nav-link {
  padding: 0 20px;
}
.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 500;
}
.navbar-dark {
  background-color: #071a41;
  color: rgb(255, 249, 242);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: medium;
}
