.Projects img {
  border-radius: 6px;
  max-width: 350px;
}
.Projects {
  margin: 30px;
}
.Project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.project-description {
  text-align: left;
}
@media (max-width: 720px) {
  .Project {
    grid-template-columns: 1fr;
  }
}
